/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #000;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: calc(100% / 3);
}

.mgt-8 {
    margin-top: 8px !important;
}

.mgt-16 {
    margin-top: 16px !important;
}

html {
    /* trick */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* fix float */
.clear {
    clear: both;
}