#main {}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.text-white {
    color: var(--white-color) !important;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: var(--white-color);
    text-transform: uppercase;
}

#nav li a {
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 46px;
    user-select: none;
    padding: 0 24px;
    display: block;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: var(--black-color);
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: var(--black-color);
    font-size: 1.1rem;
    line-height: 35px;
}

.nav-arrow-down {
    font-size: 1rem;
}

#header .search-btn {
    float: right;
    padding: 0 20px;
    display: flex;
    height: 100%;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: var(--white-color);
    font-size: 1.2rem;
    margin: auto;
    /* hoặc dùng line height */
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/The Band/assets/image/slider1.jpg') top center/cover no-repeat;
    background-size: 100% 95%;
    position: relative;
}

#slider .text-content {
    position: absolute;
    color: var(--white-color);
    bottom: 85px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    /* Hoặc dùng */
    /* width: 100%; */
    /* hoặc */
    /* right: 0;
    left: 0; */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 2.4rem;
}

#slider .text-description {
    font-size: 1.5rem;
    margin-top: 25px;
}

#content .content-section {
    padding: 64px 0;
    width: 800px;
    margin: 0 auto;
}

#content .section-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: #333;
    text-transform: uppercase;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: #999;
    margin-top: 25px;
}

#content .about-text {
    color: #333;
    font-size: 1.5rem;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-item {
    text-align: center;
    transition: 0.3s;
    padding: 20px 0;
}

#content .member-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 0.1px solid #999;
    border-radius: 2px;
}

#content .member-name {
    color: #333;
    font-size: 1.5rem;
}

#content .member-img {
    margin-top: 15px;
    max-width: 200px;
    border-radius: 3px;
}

.tour-section {
    background-color: var(--black-color);
}

.tickets-list {
    background-color: var(--white-color);
    margin-top: 40px;
}

.tickets-list li {
    font-size: 1.5rem;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list li,
.tickets-list .sold-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: var(--white-color);
    padding: 3px 4px;
}

.tickets-list .quantity {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places-list {
    /* Tricks margin âm để đều 2 bên */
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.boximg {
    overflow: hidden;
}

.place-img:hover {
    opacity: 0.6;
    transform: scale(1.2) rotate(2deg);
    cursor: pointer;
}

.place-body {
    background-color: var(--white-color);
    padding: 20px;
    font-size: 1.4rem;
}

.place-heading {
    font-weight: 500;
}

.place-time {
    margin-top: 15px;
    color: #757575;
    line-height: 1.4;
}

.place-description {
    margin-top: 15px;
}

.place-buy {
    margin-top: 15px;
    display: flex;
}

.place-btn-buy {
    margin: 0 auto;
    padding: 11px 15px;
    color: var(--white-color);
    background-color: var(--black-color);
    text-decoration: none;
    border-radius: 2px;
    transition: 0.4s;
}

.place-btn-buy:hover {
    color: var(--black-color);
    background-color: #ccc;
}

/* contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 1.3rem;
    line-height: 1.4;
}

.contact-form {
    font-size: 1.2rem;
}

.contact-info i {
    display: inline-block;
    width: 20px;
}

.contact-form .form-control {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .btn-form-submit {
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
    border-radius: 2px;
    padding: 10px 16px;
    float: right;
    opacity: 0.8;
    transition: 0.4s;
}

.contact-form .btn-form-submit:hover {
    opacity: 1;
    cursor: pointer;
}

.map-section img {
    width: 100%;
    margin-top: 46px;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 2rem;
}

#footer .socials-list a {
    text-decoration: none;
    color: #333;
    opacity: 1;
    padding: 5px;
}

#footer .socials-list a:hover,
#footer .copyright a:hover {
    opacity: 0.7;
}

#footer .copyright {
    margin-top: 15px;
    color: #333;
}

#footer .copyright a {
    color: #333;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: var(--white-color);
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 1.2rem;
    color: var(--white-color);
    opacity: 0.8;
    transition: 0.4s;
}

.modal-close:hover {
    color: #EE4D2D;
    opacity: 1;
    cursor: pointer;
}

.modal-header {
    height: 130px;
    background-color: #009688;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.modal-header-icon {
    margin-right: 15px;
}

.modal-body {
    padding: 20px;
}

.modal-label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 1.4rem;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    text-transform: uppercase;
    background-color: #009688;
    border: none;
    padding: 12px;
    transition: 0.5s;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.9;
    background-color: #999;
}

.modal-footer {
    font-size: 1.2rem;
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.modal-footer a:hover {
    color: #EE4D2D;
}